body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.dl-horizontal dt {
    white-space: normal;
}

input,
select,
textarea {
    max-width: 280px;
}

h4 {
    color: #888;
}

.thumb {
    /*border: 1px solid white;*/
    display: inline-block;
    position: relative;
    overflow: hidden;
}

.thumb > .caption {
    position: absolute;
    bottom: 2px;
    left: 8px;
    color: white;
    font-size: 1.25em;
    opacity: 0.5;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    transition: opacity 0.3s;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.thumb:hover > .caption {
    opacity: 1;
}

#main-image {
    max-width: 100%;
    height: auto;
}

.face {
    position: absolute;
    display: none;
    border: 1px solid white;
    border-radius: 4px;
    padding: 4px;
    color: white;
    opacity: 0.2;
    transition: opacity 0.3s;
}

.face:hover {
    opacity: 1;
}

.face > span {
    padding: 2px 4px;
    display: inline-block;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: opacity 0.3s;
}

.face:hover > span {
    opacity: 1;
}
